.selling_box {
    border: 1px solid #dcdcdc;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 15px;
}

.selling_box h3 {
    color: #02487C;
    font-weight: 700;
    font-size: 24px;
    padding: 30px 0px;
}

/* .selling_box1 {
    border: 1px solid #dcdcdc;
    background-color: #012D49;
    border-radius: 10px;
    height: 150px;
    position: relative;
} */

.rectangle_img {
    width: 100%;
    margin-top: 40px;
    bottom: 0;
    left: 0;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
}
.sell_btn{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 12px;
    font-size: 15px;
    color: #000;
    font-weight: 600;
    padding: 10px  0px 10px 10px;
    width: 100%;
    text-align: left !important;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.sell_btn img {
    margin-right: 10px; /* Optional: Add some spacing between text and image */
  }
  .card_click{
    display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
 
  }
  /* .house_img1{

  }
  .house_img2{
    display: none;
  }
  .card_click:hover .house_img1{
    display: none;
  }
  .card_click:hover .house_img2{
    display: block;
  } */

@media(max-width:370px) {
    /* .img_set{
        margin-left: auto;
        margin-right: auto;
        display: block;
    } */
}