.footer_bg{
    background: linear-gradient(to bottom, #095387, #035182,#0E6595,#1983BA); /* Background for button */
}
.footer_p{
    font-family: Sarala;
    font-size: 14.7px;
    font-weight: 700;
    line-height: 23.96px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #fff; 
}
.footer_logo{
    margin-top: -30px;
}
.footer_h{
    font-family: Sarala;
    font-size: 23.02px;
    font-weight: 700;
    line-height: 7.53px;
    letter-spacing: -0.188165083527565px;
    text-align: left;
    color: #fff;
    margin-left: 25px;
    margin-top: 10px;
}
.footer_p p{
    color: #fff;
    font-weight: 700;
    font-family: Sarala;
    margin-top: 25px;
}
.footer_menu li{
    margin-top: 20px;
    font-family: Sarala;
    font-size: 16.58px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: -0.13094687461853027px;
    text-align: left;
    list-style: none;
    color: #fff;
}