.Property_img {
    height: 250px;
}

.Property_detail h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 33px;
    font-weight: 600;
    line-height: 34px;  
}

.Property_detail h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
}

.Property_detail span {
    font-family: 'SF UI Display', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    text-align: right;
}

.Property_detail h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.9px;
    text-align: left;
}

.propertydetail_price {
    font-family: 'SF UI Display', sans-serif;
    font-size: 47px;
    font-weight: 600;
    line-height: 66px;
    letter-spacing: -1.66px;
}

.propertydetail_btn {
    background-color: #02487C;
    color: #fff;
    border-radius: 36px;
    width: 150px;
    height: 50px;
    border: none;
    font-weight: 700;
    margin-top: 25px;
}

.Propertydetail_rec {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}

.propertydetail_box {
    border: 1px solid #CFCFCF;
    border-radius: 10px;
}
